.tab li {
    display: none;
}

.tab1 {
    display: none;
}

.tab2 {
    display: none;

}

/*.webuploader-pick{*/
/*z-index: 999;*/
/*position: relative;*/
/*}*/
/*.modal-body{*/
/*overflow: hidden;*/

/*}*/
/*.tab{*/
/*width: 5000px;*/

/*}*/
/*.tab li{*/
/*float: left;*/

/*}*/
/*.tab1{*/
/*width: 100%;*/
/*}*/
